*.log
*.aux
*.toc
*.synctex.gz
.microCI.dbg
_book
docs
book/examples/blink_rp2040/build
book/examples/blink_rp2350/build
book/examples/blink_rp2350_deploy/build
book/examples/TM1638_01/build
book/examples/print_usb/build
